glms/*

*mds_trichotomy_bootstrap.csv
in/HCP_S1200_Atlas_pkXDZ/*

# images
*.nii.gz

# tempn
docs/*

# archival
old/*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

misc/*pptx

old/

code/misc/subjs.R

out/runwise/inkscape/fig_explor.pdf

out/rsa/obsv/rsarray_pro_bias_acc-only_fmriprep_im_run_downsampled_mmp.rds
out/runwise/simulation.rds      
out/runwise/simulation_rsm.rds
